<include file="common/head" />
<article class="blogs">
  <h1 class="t_nav">
  <span>您当前的位置：<a href="#">首页</a>&nbsp;&gt;&nbsp;
  <a href="#">日记</a></span>
  <a href="/" class="n1">文章内容</a>
  </h1>
  <div class="index_about">
    <h2 class="c_titile">{$article['title']}</h2>
    <p class="box_c"><span class="d_time">发布时间：{$article['add_time']|date="Y-m-d",###}</span><span>编辑：{$article['nickname']}</span><span>互动QQ群：<a href="http://jq.qq.com/?_wv=1027&k=2Egtq0s"> 75979967</a></span></p>
    <ul class="infos">
      	{$content}  
    </ul>
    <div class="keybq">
    <p><span>关键字词</span>：爱情,犯错,原谅,分手</p>
    
    </div>
    <div class="ad"> </div>
    <div class="nextinfo">
      <p>上一篇：<a href="#">程序员应该如何高效的工作学习</a></p>
      <p>下一篇：<a href="#">柴米油盐的生活才是真实</a></p>
    </div>
    
    <div>
    <br><div><h2>评论</h2>
    	<form action="{:U('/artcontent?id='.$article['article_id'])}" method="post">
    		<textarea cols=80 rows=5 name="answer_content"></textarea>
    		<if condition="session('user') eq true">
    		<input type="submit" value="评论" style="position:relative;left:-40px;top:-10px;">
    		<else />
    		<span style="position:relative;left:-40px;top:-10px;" onclick="hai()">评论</span>
    		<script>
				function hai(){alert('请先登录!')}
			</script>
    		</if>
    	</form></div>
    	<div>
    		<volist name="answerlist" id="rows">
    			<br><div style="font-size:22px;">
    				<div style="float:left;width:68px;height:100px;text-align:center;">
    				<img src="__PUBLIC__/Home/images/touxiang.jpg">{$rows['nickname']}</div>
    				<div style="float:left;width:500px;px;height:100px;margin-left:30px;">
    				<div style="background:#C7EDCC; color:red;">发表于：{$rows['answer_time']|date="Y-m-d",###}</div>
    				<div style="margin:10px;">{$rows['answer_content']}</div></div>
    				<div style="clear:both;"></div>
    			</div>
    		</volist>
    	</div>
    </div>
    
    <div class="otherlink">
      <h2>相关文章</h2>
      <ul>
        <li><a href="#" title="相遇就是缘分">相遇就是缘分</a></li>
        <li><a href="#" title="相遇就是缘分">相遇就是缘分</a></li>
        <li><a href="#" title="相遇就是缘分">相遇就是缘分</a></li>
        <li><a href="#" title="世上最美好的爱情">世上最美好的爱情</a></li>
        <li><a href="#" title="爱情没有永远，地老天荒也走不完">爱情没有永远，地老天荒也走不完</a></li>
        <li><a href="#" title="爱情的背叛者">爱情的背叛者</a></li>
      </ul>
    </div>
  </div>
  <aside class="right">
    <!-- Baidu Button BEGIN -->
    <div id="bdshare" class="bdshare_t bds_tools_32 get-codes-bdshare">
    <a class="bds_tsina"></a>
    <a class="bds_qzone"></a>
    <a class="bds_tqq"></a>
    <a class="bds_renren"></a>
    <span class="bds_more"></span>
    <a class="shareCount"></a></div>
    <script type="text/javascript" id="bdshare_js" data="type=tools&amp;uid=6574585" ></script> 
    <script type="text/javascript" id="bdshell_js"></script> 
    <script type="text/javascript">
document.getElementById("bdshell_js").src = "http://bdimg.share.baidu.com/static/js/shell_v2.js?cdnversion=" + Math.ceil(new Date()/3600000)
</script> 
    <!-- Baidu Button END -->
    <div class="blank"></div>
    <div class="news">
      <h3>
        <p>栏目<span>最新</span></p>
      </h3>
      <ul class="rank">
        <li><a href="/">一个网站的开发流程</a></li>
        <li><a href="/">一个网站的开发流程</a></li>
        <li><a href="/">一个网站的开发流程</a></li>
        <li><a href="/">做网站到底需要什么?</a></li>
        <li><a href="/">一个网站的开发流程</a></li>
        <li><a href="/">一个网站的开发流程</a></li>
      </ul>
      <h3 class="ph">
        <p>点击<span>排行</span></p>
      </h3>
      <ul class="paih">
        <li><a href="/">一个网站的开发流程</a></li>
        <li><a href="/">一个网站的开发流程</a></li>
        <li><a href="/">一个网站的开发流程</a></li>
        <li><a href="/">做网站到底需要什么?</a></li>
        <li><a href="/">一个网站的开发流程</a></li>
      </ul>
    </div>
  </aside>
</article>
<footer>
<include file="common/footer" />