<include file="common/top" />
<include file = "common/logo" />
<div class="container">
        <ul class="breadcrumb">
          <li>
            <a href="">
              <i class="fa fa-home"></i>
            </a>
          </li>
          <li>
            <a href="">提示信息</a>
          </li>
        </ul>
	<div class="row">
		<div id="content" class="col-sm-12 text-center">
			<p>
				<if condition="!empty($message)">
				{$message}
				<else />
				{$error}
				</if>	
			</p>
<p class="jump">
页面自动 <a id="href" href="{$jumpUrl}">跳转</a> 等待时间： <b id="wait">{$waitSecond}</b>
</p>
</div>
		<script type="text/javascript">
            (function(){
            var wait = document.getElementById('wait'),href = document.getElementById('href').href;
            var interval = setInterval(function(){
              var time = --(wait.innerHTML);
              if(time <= 0) {
                location.href = href;
                clearInterval(interval);
              };
            }, 1000);
            })();
            </script>
      </div>
    </div>
  </div>
<include file="footer"/>